@font-face {
  font-family: "The Seasons";
  src: url("fonts/The Seasons Font/Fontspring-DEMO-theseasons-lt.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:"Sloop Script" ;
  src: url("fonts/Sloop Script Bold Two Regular/Sloop Script Bold Two Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* --- ESTILOS GENERALES --- */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Georgia', serif;
  scroll-behavior: smooth;
}

/* --- PANTALLA DE INICIO --- */
#intro {
  background-color: #29402F; /* Verde petróleo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 200px;
  height: auto;
  animation: pulse 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* --- CONTENIDO OCULTO AL INICIO --- */
.hidden {
  display: none;
}

/* --- SECCIÓN PRINCIPAL --- */
#main {
  position: relative;
  height: 100vh;
  background-image: url('img/ROY_4222-new.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 1.5s ease;
}

#main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  transform: scale(1.03);
  transition: transform 3s ease;
  z-index: -1;
}

.fade-in::before {
  transform: scale(1);
}



/* --- ANIMACIÓN DE ENTRADA --- */
.fade-in {
  opacity: 1 !important;
  /* transform: scale(1); */
}

/* --- NOMBRES --- */
.nombres {
  font-family: "Sloop Script", cursive;
  color: white;
  font-weight: 350;
  font-style: normal;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7);
  line-height: 1.1;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 85px;
  font-size: 55px;

  opacity: 0;                 /*  Inicialmente oculto */
  transform: translateY(-40px);
  transition: opacity 3s ease, transform 3s ease;
}

/* --- ANIMACIÓN DE ENTRADA DEL TEXTO --- */
.fade-text {
  opacity: 1 !important;
  transform: translateY(0);
}

/* --- TEXTO POSTERIOR --- */
#texto {
  min-height: 50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

#texto p {
  font-size: 30px;
  color: #29402F;
  text-align: center;
  max-width: 90%;
}
/* --- BOTÓN DE MÚSICA --- */

.music-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 999;
}

.music-button:hover {
  background-color: rgba(255, 255, 255, 0.158);
  transform: scale(1.1);
}

.music-button svg {
  transition: opacity 0.3s ease;
  fill: #ffffff34;
}


.music-button:hover {
  background-color: rgba(255, 255, 255, 0.13);
  transform: scale(1.1);
}

.hidden {
  display: none !important;
}

/* --- SECCIÓN FRASE --- */
.frase-1 {
  background-color: #29402F; /* color dorado suave */
  height: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 60px 20px; */
  margin: 0;
  
}

.frase-1 h1 {
  font-family: "The Seasons", serif;
  font-size: 30px;
  color: white;
  line-height: 1.3;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin: 0;
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
  transform: translateY(40px);
}

/* Animación de aparición al hacer scroll */
.frase-1.visible h1 {
  opacity: 1;
  transform: translateY(0);
}

/* SECCION FOTO */
.seccion-foto {
  width: 100%;
  height: 60vh; /* ajusta si quieres menos alto, por ejemplo 80vh */
  background-image: url('img/ROY_4300-new.jpg');
  background-size: cover;      /* asegura que cubra todo */
  background-position: center; /* centra la parte visible */
  background-repeat: no-repeat;
  overflow: hidden;
}

.seccion-foto-1 {
  width: 100%;
  height: 60vh; /* ajusta si quieres menos alto, por ejemplo 80vh */
  background-image: url('img/ROY_4328-new.jpg');
  background-size: cover;      /* asegura que cubra todo */
  background-position: center; /* centra la parte visible */
  background-repeat: no-repeat;
  overflow: hidden;
}
.seccion-foto-2 {
  width: 100%;
  height: 60vh; /* ajusta si quieres menos alto, por ejemplo 80vh */
  background-image: url('img/ROY_4291-new.jpg');
  background-size: cover;      /* asegura que cubra todo */
  background-position: center; /* centra la parte visible */
  background-repeat: no-repeat;
  overflow: hidden;
}
.seccion-foto-3 {
  width: 100%;
  height: 50vh; /* ajusta si quieres menos alto, por ejemplo 80vh */
  background-image: url('img/ROY_4280-new.jpg');
  background-size: cover;      /* asegura que cubra todo */
  background-position: center; /* centra la parte visible */
  background-repeat: no-repeat;
  overflow: hidden;
}

/* INVITACION */
.invitacion {
  position: relative;
  width: 100%;
  height: 500px; /* ocupa toda la pantalla */
  background: url('img/texture-5edc12da.png') no-repeat center center/cover; /* Fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: visible;
  font-family: 'The Seasons', sans-serif;
  border-radius: 50PX;
 
}
/* invitación padrinos */
.invitacion-padrinos {
  position: relative;
  width: 100%;
  height: 200px; /* ocupa toda la pantalla */
  background: url('img/texture-5edc12da.png') no-repeat center center/cover; /* Fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: visible;
  font-family: 'The Seasons', sans-serif;
  border-radius: 50PX;
 
}
/* invitación local */
.invitacion-local {
  position: relative;
  width: 100%;
  height: 200px; /* ocupa toda la pantalla */
  background: url('img/texture-5edc12da.png') no-repeat center center/cover; /* Fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: visible;
  font-family: 'The Seasons', sans-serif;
  border-radius: 50PX;
 
}

/* Capa sutil oscura para legibilidad */
.invitacion .overlay {
  position: absolute;
  inset: 0;
  background-color: #29402F;
  z-index: 1;
  height: 500px;
  
  
}
/* overlay padrinos */
.invitacion-padrinos .overlay-padrinos {
  position: absolute;
  inset: 0;
  background-color: #29402F;
  z-index: 2;
  height: 200px;
}
/* overlay local */
.invitacion-local .overlay-local {
  position: absolute;
  inset: 0;
  background-color: #29402F;
  z-index: 2;
  height: 500px;
}



/* Imagen decorativa encima del fondo */
.invitacion .decoracion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 90%;
  max-width: 800px;
  z-index: 2;
  margin-top: -160px;
  border-radius: 15px;
}

/* textura-padrinos */
.invitacion-padrinos .decoracion-padrinos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 90%;
  height: 200px;
  max-width: 400px;
  z-index: 2;
  margin-top: -80px;
  border-radius: 15px;
}

/* seccion local */
.invitacion-local {
  position: relative;
  width: 100%;
  height: 200px; /* ocupa toda la pantalla */
  background: url('img/texture-5edc12da.png') no-repeat center center/cover; /* Fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: visible;
  font-family: 'The Seasons', sans-serif;
  border-radius: 50PX;
}
/* textura-local */
.invitacion-local .decoracion-local {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -30%); */
  width: 90%;
  height: 500px;
  max-width: 400px;
  z-index: 2;
  margin-top: 250px;
  border-radius: 15px;
}

/* foto-local */
.foto-local {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 90%;
  height: 300px;
  max-width: 300px;
  z-index: 2;
  margin-top: 125px;
  border-radius: 10px;
}




/* Texto principal */
.texto-invitacion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 800px;
  width: 90%;
  margin-top: -50px;
}

.texto-invitacion-padrinos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 400px;
  width: 90%;
  margin-top: -40px;
}
.texto-invitacion-local {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 500px;
  width: 90%;
  margin-top: -60px;
}

.texto-invitacion .titulo {
  font-size: 20px;
  letter-spacing: 3px;
  color: #bea17b;
  margin: 25px;
}

.texto-invitacion .titulo-1 {
  font-size: 20px;
  
  color: #bea17b;
  margin: 25px;
}
.texto-invitacion-padrinos .titulo-2 {
  font-size: 20px;
  color: #bea17b;
  margin: 25px;
}

.texto-invitacion-local .titulo-2 {
  font-size: 15px;
  color: #bea17b;
  margin: 5px;
}

.texto-invitacion .nombres-inv {
  font-family: "Sloop Script", cursive;
  font-size: 3rem;
  color: #29402F;
  margin: 0.5rem 0;
}

/* Padrinos */
.texto-invitacion-padrinos .nombres-inv {
  font-family: "Sloop Script", cursive;
  font-size: 3rem;
  color: #29402F;
  margin: 0.5rem 0;
}
/* Local */
.texto-invitacion-local .nombres-local {
  font-family: "Sloop Script", cursive;
  font-size: 3rem;
  color: #29402F;
  margin: 1rem 0;
}

.texto-invitacion .mensaje {
  font-size: 1.1rem;
  font-weight: bold;
  color: #29402F;
  margin: 25px;
  line-height: 1.5;
}

.texto-invitacion .nota-lg-1 {
  font-size: 23px;
  color: #29402F;
  font-weight: bold;
}
.texto-invitacion .nota-lg-2 {
  font-size: 15px;
  color: #29402F;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px ;
  
  
}

.boton-whatsapp {
  display: inline-block;
  background-color: #bea17b;
  color: white;
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  z-index: 3;
  position: relative;
}

.boton-whatsapp:hover {
  background-color: #b98138;
  transform: scale(1.05);
}

/* SECCION CONTADOR */

#count {
  position: relative;
  height: 100vh;
  background-image: url('img/ROY_4275 B-N-new.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 1.5s ease;
}
#timer {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#countdown-container {
  text-align: center;
  color: #29402F; 
  font-family: 'The Seasons', serif;
  padding: 50px 20px;
  
}

.date-title {
  background: #29402F;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 7px;
  
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  
}

.time-box {
  background-color: #bea17b;
  color: white;
  padding: 15px 20px;
  border-radius: 2px;
  width: 35px;
  text-align: center;
  border-radius: 10px;
}

.time-box span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.time-box p {
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.calendar-btn {
  background: #29402F;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  
}

.calendar-btn:hover {
  background: #3a6145;
  color: white;
}

.calendar-btn i {
  margin-right: 8px;
}

/* Boton Mapa */
.map-btn {
  
  background: #bea17b;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: -650px;
  z-index: 2;
  
}

/* PADRES */
.texto-invitacion .nombres-inv-2 {
  font-family: "Sloop Script", cursive;
  font-size: 2rem;
  color: #29402F;
  margin: 0.5rem 0;
  z-index: 3;
}

/* Regalos */
/* ===== SECCIÓN REGALOS ===== */
.regalos {
  position: relative;
  height: 100vh;
  background-image: url('img/ROY_4222-new.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'The Seasons', sans-serif;
}

/* Textura decorativa */
.decoracion-regalos {
  position: absolute;
  width: 90%;
  max-width: 450px;
  opacity: 0.9;
  z-index: 1;
  height: 200px ;
  border-radius: 15px;
  margin-bottom: -10px;
}

/* Contenedor del texto + botón (encima de la textura) */
.contenido-regalos {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 450px;
  padding: 40px 20px;
}

/* Texto */
.texto-invitacion-regalos {
  margin-bottom: 20px;
}

.texto-invitacion-regalos .nombres-regalos {
  font-family: "Sloop Script", cursive;
  font-size: 4rem;
  color: #bea17b;
  margin: 0;
}

.texto-invitacion-regalos .titulo-2 {
  font-family: "The Seasons", cursive;
  font-size: 24px;
  color: #bea17b;
  margin: 0;
}

/* Botón */
.regalos-btn {
  background: #bea17b;
  color: #ffffff;
  padding: 12px 28px;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  
}

.regalos-btn:hover {
  background: #af7a33;
}

/* ICONO REGALO */

.icono-regalos {
  display: flex;                /* Para centrar si lo necesitas */
  justify-content: center;      /* Centra horizontalmente */
  align-items: center;          /* Centra verticalmente */
  margin: 10px 0;               /* Espaciado arriba y abajo */
}

.icono-regalos svg {
  width: 35px;                  /* Tamaño del icono */
  height: 35px;                 /* Mantiene proporción */
  fill: #bea17b;                /* Color del vector (puedes cambiarlo) */
  transition: fill 0.3s ease;   /* Efecto suave al cambiar color */
}


/* ===== SECCIÓN CODIGO DE VESTIMENTA ===== */
.cod-vestimenta {
  position: relative;
  height: 100vh;
  background-image: url('img/ROY_4222-new.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'The Seasons', sans-serif;
}

/* Textura decorativa */
.decoracion-cod-vestimenta {
  position: absolute;
  width: 90%;
  max-width: 450px;
  opacity: 0.9;
  z-index: 1;
  height: 200px ;
  border-radius: 15px;
  margin-bottom: -10px;
}

/* Contenedor del texto + botón (encima de la textura) */
.contenido-cod-vestimenta{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 450px;
  padding: 40px 20px;
}

/* Texto */
.texto-invitacion-cod-vestimenta {
  margin-bottom: 20px;
}

.texto-invitacion-cod-vestimenta .nombres-vestimenta {
  font-family: "Sloop Script", cursive;
  font-size: 4rem;
  color: #bea17b;
  margin: 0;
}
.nombres-vestimenta {
  font-family: "Sloop Script", cursive;
  font-size: 2.5rem;
  color: #bea17b;
  margin: 0;
}

.texto-invitacion-cod-vestimenta .titulo-2 {
  font-family: "The Seasons", cursive;
  font-size: 24px;
  color: #bea17b;
  margin: 0;
}

/* Botón */
.regalos-btn {
  background: #bea17b;
  color: #ffffff;
  padding: 12px 28px;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  
}

.regalos-btn:hover {
  background: #af7a33;
}

/* Saco */
.icono-saco svg {
  width: 30px;     /* Tamaño del SVG */
  height: auto;
  color: #bea17b;   /* Color dorado */
  margin-bottom: 5px;
  
}



/* --- Estilos para pantallas >= 768px (tablet/pc) --- */
@media (min-width:1280px) {
  .seccion-foto {
    height: 80vh; /* más alto en pantallas grandes */
  }
  .invitacion .decoracion {
    margin-top: -10px;
    border-radius: 15px;
  }
  
}